// Font
@font-face
  font:
    display: auto
    family: 'San Francisco Regular'
  src: url('../font/SFProText-Regular.ttf') format('truetype')

@font-face
  font:
    display: auto
    family: 'San Francisco Bold'
  src: url('../font/SFProText-Bold.ttf') format('truetype')

@font-face
  font:
    display: auto
    family: 'San Francisco Light'
  src: url('../font/SFProText-Light.ttf') format('truetype')

@font-face
  font:
    display: auto
    family: 'Rund Grotesk Medium'
  src: url('../font/Rund-Grotesk_medium.ttf') format('truetype')

@font-face
  font:
    display: auto
    family: 'Rund Grotesk Medium Italic'
  src: url('../font/Rund-Grotesk_medium-italic.ttf') format('truetype')

@font-face
  font:
    display: auto
    family: 'Rund Grotesk Medium Bold'
    weight: bold
  src: url('../font/Rund-Grotesk_medium.ttf') format('truetype')

// Colors
$white: #fcfbf8
$grey: #404040
$black: #151515
$turquoise: #00bb90
$dark-theme-black: #3e3e3e
$dark-theme-white: #e0dfdd
$dark-theme-grey: #6c6c6c
$dark-theme-light-grey: #9b9b9b

// Animations
@keyframes hover
  0%
    transform: translate(-50%, 0%) rotate(45deg)
  50%
    transform: translate(-50%, 2em) rotate(45deg)
  100%
    transform: translate(-50%, 0%) rotate(45deg)

// General
*
  margin: 0
  padding: 0
  font:
    family: "San Francisco Regular", -apple-system, system-ui, 'Segeo UI', Ubuntu, sans-serif
  background:
    color: $white
  color: $grey
  overflow-y: auto
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  line-height: 1.3

a
  text-decoration: none
  transition: all .2s linear
  color: $black

  &:hover
    color: $turquoise

p
  font-size: 110%

// Dark theme
.dark
  *
    background-color: $dark-theme-black
    color: $dark-theme-white

  a
    color: $dark-theme-light-grey

    &:hover
      color: $turquoise

  #scroll-down
    border-color: $dark-theme-grey !important

  .project-showcase
    box-shadow: 0 0 15px 0 $dark-theme-grey

  .skill-showcase
    box-shadow: 0 0 15px 0 $dark-theme-grey

  .btn
    color: $dark-theme-light-grey
    border: 0.1em solid $dark-theme-light-grey


// Button
.btn
  border: 0.1em solid $grey
  border-radius: 0.5em
  padding: 0.5em
  background: transparent
  color: $grey

  &:hover
    border-color: $turquoise
    box-shadow: 0 0 15px 0 $turquoise
    text-shadow: 0 0 15px 0 $turquoise
    color: $turquoise
    background: transparentize($turquoise, 0.9)

// Landing
#landing
  display: flex
  flex-direction: column
  justify-content: center
  height: 100vh
  align-items: center

  h1
    font:
      family: "Rund Grotesk Medium Italic"

  .back
    align-self: flex-end
    transform: translate(-1em, -8em)
    font-size: 130%

  .waves-right
    align-self: flex-end
    transform: translate(10em, 7em)

  .waves-left
    align-self: flex-start
    transform: translate(-5em, -10em)

  .pronunciation
    font:
      size: 17pt
      family: "Rund Grotesk Medium Italic"
    padding-left: 5vh
    opacity: 0.2

  #scroll-down
    position: absolute
    bottom: 3em
    display: block
    text-align: center
    text-decoration: none
    width: 3em
    height: 3em
    border-bottom: 0.5em solid $grey
    border-right: 0.5em solid $grey
    transform: translate(-50%, 0%) rotate(45deg)
    border-radius: 5em
    overflow-y: hidden
    cursor: pointer
    animation: hover
    animation-duration: 5s
    animation-delay: 3s
    animation-iteration-count: infinite

// Content
#content
  margin: 0 15em

// About
#about
  padding-top: 3em
  margin-bottom: 1em

  p
    padding-inline-start: 1em

// Skills
#skills
  margin-bottom: 1em

.skills
  display: flex
  flex-direction: row
  justify-content: center
  padding-inline-start: 1em
  flex-wrap: wrap

  h3
    text-align: center

.skill-showcase
  border-radius: 1em
  padding: 0.5em
  margin: 1em
  box-shadow: 0 0 15px 0 $grey
  text-align: center

// Projects
#projects
  margin-bottom: 1em

.projects
  display: flex
  flex-direction: column
  justify-content: center

.project-showcase
  height: 7.5em
  margin: 1em
  padding: 1em
  border-radius: 1em
  box-shadow: 0 0 15px 0 $grey

  .description
    margin-bottom: 1em

  h4
    font:
      family: "San Francisco Bold"

//  Links
#links
  margin-bottom: 1em

ul
  padding-inline-start: 1em

// Contact
#contact
  margin-bottom: 1em

  p
    padding-inline-start: 1em

// Footer
#footer
  display: flex
  margin: 1em
  justify-content: space-between


// Imprint
#imprint
  padding-top: 3em
  margin-bottom: 2em
  margin-left: 10em
  margin-right: 10em

// Privacy Policy
#privacy
  padding-top: 3em
  margin-bottom: 2em
  margin-left: 10em
  margin-right: 10em

// Responsive
@media screen and (max-device-width: 700px)
  // Content
  #content
    margin: 0 1em

  // Landing waves right
  #landing
    .waves-right
      transform: translate(10em, 5em)

  // Projects
  .project-showcase
    font-size: 85%

@media screen and (min-device-width: 700px) and (max-device-width: 1000px)
  // Content
  #content
    margin: 0 5em