@font-face {
  font-display: auto;
  font-family: "San Francisco Regular";
  src: url("../font/SFProText-Regular.ttf") format("truetype"); }
@font-face {
  font-display: auto;
  font-family: "San Francisco Bold";
  src: url("../font/SFProText-Bold.ttf") format("truetype"); }
@font-face {
  font-display: auto;
  font-family: "San Francisco Light";
  src: url("../font/SFProText-Light.ttf") format("truetype"); }
@font-face {
  font-display: auto;
  font-family: "Rund Grotesk Medium";
  src: url("../font/Rund-Grotesk_medium.ttf") format("truetype"); }
@font-face {
  font-display: auto;
  font-family: "Rund Grotesk Medium Italic";
  src: url("../font/Rund-Grotesk_medium-italic.ttf") format("truetype"); }
@font-face {
  font-display: auto;
  font-family: "Rund Grotesk Medium Bold";
  font-weight: bold;
  src: url("../font/Rund-Grotesk_medium.ttf") format("truetype"); }
@keyframes hover {
  0% {
    transform: translate(-50%, 0%) rotate(45deg); }
  50% {
    transform: translate(-50%, 2em) rotate(45deg); }
  100% {
    transform: translate(-50%, 0%) rotate(45deg); } }
* {
  margin: 0;
  padding: 0;
  font-family: "San Francisco Regular", -apple-system, system-ui, "Segeo UI", Ubuntu, sans-serif;
  background-color: #fcfbf8;
  color: #404040;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none;
  transition: all 0.2s linear;
  color: #151515; }
  a:hover {
    color: #00bb90; }

p {
  font-size: 110%; }

.btn {
  border: 0.1em solid #404040;
  border-radius: 1em;
  padding: 0.5em;
  background: transparent;
  color: #404040; }
  .btn:hover {
    border-color: #00bb90;
    box-shadow: 0 0 15px 0 #00bb90;
    text-shadow: 0 0 15px 0 #00bb90;
    color: #00bb90;
    background: rgba(0, 187, 144, 0.1); }

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center; }
  #landing h1 {
    font-family: "Rund Grotesk Medium Italic"; }
  #landing .back {
    align-self: flex-end;
    transform: translate(-1em, -8em);
    font-size: 130%; }
  #landing .waves-right {
    align-self: flex-end;
    transform: translate(10em, 7em); }
  #landing .waves-left {
    align-self: flex-start;
    transform: translate(-5em, -10em); }
  #landing .pronunciation {
    font-size: 17pt;
    font-family: "Rund Grotesk Medium Italic";
    padding-left: 5vh;
    opacity: 0.2; }
  #landing #scroll-down {
    position: absolute;
    bottom: 3em;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 3em;
    height: 3em;
    border-bottom: 0.5em solid #404040;
    border-right: 0.5em solid #404040;
    transform: translate(-50%, 0%) rotate(45deg);
    border-radius: 5em;
    overflow-y: hidden;
    cursor: pointer;
    animation: hover;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite; }

#content {
  margin: 0 15em; }

#about {
  padding-top: 3em;
  margin-bottom: 1em; }
  #about p {
    padding-inline-start: 1em; }

#skills {
  margin-bottom: 1em; }

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .skills h3 {
    text-align: center; }

.skill-showcase {
  border-radius: 1em;
  padding: 0.5em;
  margin: 1em;
  box-shadow: 0 0 15px 0 #404040;
  text-align: center; }

#projects {
  margin-bottom: 1em; }

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.project-showcase {
  height: 7.5em;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 15px 0 #404040; }
  .project-showcase .description {
    margin-bottom: 1em; }
  .project-showcase h4 {
    font-family: "San Francisco Bold"; }

#links {
  margin-bottom: 1em; }

ul {
  padding-inline-start: 1em; }

#contact {
  margin-bottom: 1em; }
  #contact p {
    padding-inline-start: 1em; }

#footer {
  display: flex;
  margin: 1em;
  justify-content: space-between; }

#imprint {
  padding-top: 3em;
  margin-bottom: 2em;
  margin-left: 10em;
  margin-right: 10em; }

#privacy {
  padding-top: 3em;
  margin-bottom: 2em;
  margin-left: 10em;
  margin-right: 10em; }

/*# sourceMappingURL=style.css.map */
