@import "../../assets/css/colors"

.button
  -webkit-appearance: none
  background-color: transparent
  border: $gray 3px solid
  border-radius: 10px
  background: transparent
  padding: 0.3em
  margin: 0.3em
  transition: all .3s ease-in-out

  a
    color: $white

  a:hover
    color: $white

  &:hover
    color: $white
    background: $gray

  &:focus
    outline: none
