$black: #1d1d1d
$grey: #9f9f9f
$white: #f3f3f3
$green: #00bf03
$blue: #007bdd
$yellow: #fff227
$red: #d93b49
$orange: #d8862d

html
  font-family: sans-serif
  margin: 0
  padding: 0

a
  text-decoration: none