$white: #fcfbf8
$black: #262626
$gray: #847E89
$darker-gray: #798086
$light-green: #bfff80
$dark-green: #6E9075
$dark-pink: #FF6B6B
$pink: #FF7878

// https://coolors.co/fcfbf8-262626-798086-847e89-bfff80-6e9075-ff6b6b-ff7878
