@font-face
  src: url('../fonts/Inter/Inter-Medium.ttf') format('truetype')
  font-display: auto
  font-family: "Inter Regular"
  font-weight: 400

@font-face
  src: url('../fonts/Inter/Inter-Bold.ttf') format('truetype')
  font-display: auto
  font-family: "Inter Bold"
  font-weight: 700

@font-face
  src: url('../fonts/Inter/Inter-Black.ttf') format('truetype')
  font-display: auto
  font-family: "Inter Black"
  font-weight: 900

@font-face
  src: url('../fonts/Paytone One/PaytoneOne-Regular.ttf') format('truetype')
  font-display: auto
  font-family: "Paytone One Regular"
  font-weight: 400

@font-face
  src: url('../fonts/Paytone One/PaytoneOne-Regular.ttf') format('truetype')
  font-display: auto
  font-family: "Paytone One Bold"
  font-weight: 700

@font-face
  src: url('../fonts/Paytone One/PaytoneOne-Regular.ttf') format('truetype')
  font-display: auto
  font-family: "Paytone One Black"
  font-weight: 900

@font-face
  src: url('../fonts/Cutive Mono/CutiveMono-Regular.ttf') format('truetype')
  font-display: auto
  font-family: "Cutive Mono Regular"
  font-weight: 400

@font-face
  src: url('../fonts/Cutive Mono/CutiveMono-Regular.ttf') format('truetype')
  font-display: auto
  font-family: "Cutive Mono Bold"
  font-weight: 700

@font-face
  src: url('../fonts/Cutive Mono/CutiveMono-Regular.ttf') format('truetype')
  font-display: auto
  font-family: "Cutive Mono Black"
  font-weight: 900

@font-face
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype')
  font-display: auto
  font-family: "Montserrat Regular"
  font-weight: 400

@font-face
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype')
  font-display: auto
  font-family: "Montserrat Bold"
  font-weight: 700

@font-face
  src: url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype')
  font-display: auto
  font-family: "Montserrat Black"
  font-weight: 900
